* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 14px;
    font-family: sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(243, 243, 243);
    display: flex;
    justify-content: center;
}

.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.instagram-phone img {
    height: 45rem;
}

.instagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 50%;
    height: 100vh;
}

.instagram-continue img {
    max-width: 100%;
}