* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 14px;
    font-family: sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(243, 243, 243);
    display: flex;
    justify-content: center;
}

.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    margin-right: 2rem;
}

.instagram-phone img {
    height: 40rem;
}

.instagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 50%;
    height: 100vh;
}

.instagram-continue {
    display: flex;
    align-items: center; /* horizontal (flex-direction: column;) */
    justify-content: space-between; /* vertical (flex-direction: column;)*/
    flex-direction: column;
    width: 60%;
    min-height: 29rem;
    
}

.instagram-continue img {
    max-width: 100%;
}

.group {
    width: 100%;
    height: 100%;
    display: flex;    
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1.5rem 0;
    border: 1px solid lightgrey;
    background-color: white;
}
.group img {
    max-height: fit-content;
}

.instagram-logo img{
    height: 3.5rem;
}

.profile-photo {
    display: flex;
    /*justify-content: center;
    align-items: center;*/
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    width: 110px;
    height: 110px;
    margin: 0.5rem;
}

.profile-photo img{
    /*height: 7rem;*/
    display: block;
    width: 100%;
    height: 100%;
}